<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <ul>
      <li><a href="http://localhost:3000/users">All Users</a></li>
      <li><a class="line" href=""></a></li>
      <li><a href="http://localhost:3000/auth/login">Login</a></li>
      <li><a href="http://localhost:3000/auth/register">Regitration</a></li>
    </ul>
  </header>
    
  </body>
</html>
