<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <div class="header_lists">
        <ul>
          <li><a href="http://localhost:3000/api/user"><i class="fa-regular fa-circle-user"></i></a>  <span>Welcome <%=user.name%></span></li>
        </ul>
        <ul>
      <li><a href="http://localhost:3000/api/users"><i class="fa-solid fa-basket-shopping"></i></a></li>
    </ul>
      </div>
  </header>

    <div class="main_picture">
      <i class="fa-solid fa-arrow-left"></i>
      <i class="fa-solid fa-arrow-right"></i>
      </div>
  </body>
</html>
