<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/user.css">
    <title>Document</title>
</head>
<body>

    <header>Profile /<a href="http://localhost:3000/">Home</a></header>
    <ul class="profile_list">
        <li>
           <main class="profile" >
        <form action="" enctype="">
        <input type="file" id="fileInput" style="display: none;" name="avatar">
        <label for="fileInput" class="custom-file-label"><i class="fa-regular fa-circle-user"></i><a class="plus"></label>
        <button class="save_btn">Save</button>    
    </form>
</a>
    </main>
    </li>
        <li>Orders <i class="fa-solid fa-basket-shopping"></i></li>
        <li>Wallet <i class="fa-solid fa-wallet"></i></li>
        <li>Settings <i class="fa-solid fa-gear"></i></li>
        <li>Shopping <i class="fa-solid fa-cart-shopping"></i></li>
        <li>Contact Info <i class="fa-solid fa-address-card"></i></li>
    </ul>
</body>
</html>