body {
    padding: 0;
    margin: 0;
    background-image: url(https://wallpapers.com/images/featured/furniture-hb26munlg7lkml5b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* opacity: 0.5; */
}

header {
    position: fixed;
    width: 100%;
}
header > a {
    margin-left: 5px;
    &:hover {
        transform: scale(1.2);
    }
}
a {
    text-decoration: none;
}
.fa-circle-user {
    font-size: 50px;
    font-weight: 100;
    color: rgb(219, 219, 219);
}

.plus {
    /* font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%; */
    /* cursor: pointer;
    z-index: 999; */
    /* border: 1px solid #000;
    /* background-color: #000; */
    padding: 0 14px; 
}

.custom-file-label {
    z-index: 999;
    cursor: pointer;
}

header {
    background-color: #000;
    padding: 0;
    margin: 0;
    padding: 10px;
    color: white;
}
header > a {
    color: white;
}

.profile_list {
    list-style: none;
    padding: 5px;
    margin-top: 40px;
}

.profile_list > li {
    margin: 5px;
    font-family: sans-serif;
    font-weight: 100;
    padding: 5px;
    background-color: rgba(0, 26, 40, 0.5);
    width: 170px;
    cursor: pointer;
    &:nth-child(2):hover {
        transform: scale(1.05);
        box-shadow: 0 10px 4px 1px rgba(0, 0, 0, 0.445);
    }&:nth-child(3):hover {
        transform: scale(1.05);
        box-shadow: 0 10px 4px 1px rgba(0, 0, 0, 0.445);
    }&:nth-child(4):hover {
        transform: scale(1.05);
        box-shadow: 0 10px 4px 1px rgba(0, 0, 0, 0.445);
    }&:nth-child(5):hover {
        transform: scale(1.05);
        box-shadow: 0 10px 4px 1px rgba(0, 0, 0, 0.445);
    }&:nth-child(6):hover {
        transform: scale(1.05);
        box-shadow: 0 10px 4px 1px rgba(0, 0, 0, 0.445);
    }
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.save_btn {
    /* background-color: blue; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.all_cards {
    display: flex;
    justify-content: space-between;
}

.cart_user{
    display: none;
    height: 80vh;
    min-width: 1200px;
    margin-top: 50px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: rgba(0, 26, 40, 0.5);
    backdrop-filter: blur(5px);
}

.cart_user > h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}
.cart_user {
    position: relative;
}
.inside_cart {
    height: 60vh;
    width: 1100px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid #000;
    margin-top: 30px;
    box-shadow: 0 10px 4px 1px rgba(0, 0, 0, 0.445);
}

.inside_cart > h2 {
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 18px;
    font-family: sans-serif;
}

.list_order {
    display: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    margin: 10px;
}

.list_order {
    display: none;
}

.orde_li {
    color: white;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    background-image: url(https://img.freepik.com/free-photo/empty-modern-room-with-furniture_23-2149178345.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

}

.photo2 {
    background-image: url(https://cdn.magicdecor.in/com/2023/09/29160820/Wooden-Wallpaper-for-Drawing-Room.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.photo3 {
    background-image: url(https://cdn.magicdecor.in/com/2023/10/06164946/Peacock-luxury.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.order_lists {
    background-color: rgba(209, 209, 209, 0.288);
    border-radius: 10px;
    padding: 10px;
}

.wallet_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    margin: 10px;
    gap: 10px;
}

.wallet_list > div {
    border: 1px solid #000;
    padding: 10px;
    color: white;
    border-radius: 10px;
}


.balance-card {
    background-color: rgba(0, 255, 255, 0.238);
}

.methods {
    background-color: rgba(0, 0, 255, 0.292);
}

.methods ul li {
    list-style: none;
} 

.btn_wallet {
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: burlywood;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
}

.history {
    background-color: rgba(137, 43, 226, 0.238);
}